<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Demo</title>
        <link rel="stylesheet" href="../public/css/demo.css">
    </head>
    <body>
        <div class="context_top_l">
            <div class="l_banner">
                <ul id="ul_banner">
                    <li><a href="#"><img src="../public/images/123.jpg" alt=""></a><span>标题1</span></li>
                    <li><a href="#"><img src="../public/images/123.jpg" alt=""><span>标题1</span></a><span>标题1</span></li>
                    <li><a href="#"><img src="../public/images/123.jpg" alt=""></a><span>标题1</span></li>
                    <li><a href="#"><img src="../public/images/123.jpg" alt=""></a><span>标题1</span></li>
                </ul>
            </div>
            <div class="l_navs">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </body>
</html>
