<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
    <script type="text/javascript">

    function ins() {
        document.body.onmousemove = function(e) {
            alert(e);
            // if (!e) {
            //     e = window.event;
            // }
            // else {
            //     e.srcElement = e.target;
            // }
        };
    };


        // function init() {
        //     document.body.onmousemove = function(e) {
        //         if (!e) {
        //             e = window.event;
        //         }
        //         else {
        //             e.srcElement = e.target;
        //         }
        //         document.getElementById("divDebug").innerHTML = "mousemove (" + e.clientX + "," + e.clientY + ") srcElement=" + e.srcElement.tagName + "[" + e.srcElement.id + "]";
        //     };
        // }
    </script>
</head>
<body onload="ins()">
    <div id="root">
    <div id="divDebug"></div>
    <div id="div2">div</div>
    <span id="span1">span</span>
    <a href="#" id="link1">link</a>
    </div>
    </body>
</html>
