<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Demo</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <style media="screen">
            li{float: left;}
            li a{opacity: 0.6;}
        </style>
    </head>
    <body>
        <ul>
            <li><a href="#">第一</a></li>
            <li><a href="#">第一</a></li>
            <li><a href="#">第一</a></li>
            <li><a href="#">第一</a></li>
            <li><a href="#">第一</a></li>
            <li><a href="#">第一</a></li>
            <li><a href="#">第一</a></li>
        </ul>
        <script type="text/javascript">
            let atags = document.getElementsByTagName('a');
            for (var i = 0; i < atags.length; i++) {
                //获取当前a标签的opacity值
                let opacity_value = document.defaultView.getComputedStyle(atags[i], null).opacity;
                atags[i].onmouseover = function() {
                    atags[i].style.opacity = opacity_value*0.06;
                };
                atags[i].onmouseout = function() {
                    atags[i].style.opacity = opacity_value;
                };

            }
            // atags[1].style.opacity = 0.1;
            console.log(document.defaultView.getComputedStyle(atags[0], null).opacity);
            // for (var i = 0; i < atags.length; i++) {
            //     console.log(atags[i].style.opacity);
            // }

            // for (var i = 0; i < atags.length; i++) {
            //     atags[i].onmouseover = function() {
            //         console.log(atags[i]);
            //     }
            // }
        </script>
    </body>
</html>
